:root {
    --background: #fbf0f4;
    --primero: #4c7766;
    --segundo: #cce5db;
    --tercero: #ececec;
    --cuarto: #e36666;
    --quinto: #505956;
}

html {
    background: var(--background);
    font-family: "Onest Variable", sans-serif;
    font-weight: bold;
    margin: 8px;
}

body {
    display: flex;
    justify-content: center;
    overflow-y: visible;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

*::-webkit-scrollbar {
    width: 0;
}

#root {
    width: 100%;
}

@media (min-width: 641px) {
    main {
        min-height: calc(100vh - 240px - 240px);
    }
}

@media (max-width: 640px) {
    main {
        min-height: calc(35vh);
    }
}
